<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Modifier utilisateur</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic Layout -->
      <div class="col-xxl">
        <div class="card mb-4">

          <div class="card-body">

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name" >Nom</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="registerDto.firstName" type="text" class="form-control"  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">Prénom</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="registerDto.lastName"
                    type="text"
                    class="form-control"

                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <input [(ngModel)]="registerDto.email"
                      type="text"
                      id="basic-default-email"
                      class="form-control"

                      aria-label="john.doe"
                      aria-describedby="basic-default-email2"
                    />

                  </div>

                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">Employe code</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="registerDto.employeecode"
                    type="text"
                    class="form-control"

                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">Responsable Equipe</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="registerDto.responsableequipe"
                    type="text"
                    class="form-control"

                  />
                </div>
              </div>
              <div class=" mb-3">

                <label class="form-label"  for="basic-default-company">role</label>
                  <select [(ngModel)]="registerDto.role" id="role" class="form-select">
                    <option value="">Selectionner un role</option>
                    <option value="RC">RC</option>
                    <option value="RC+">RC+</option>
                    <option value="RS">RS</option>
                    <option value="RS+">RS+</option>
                    <option value="admin">Admin</option>
                  </select>

              </div>
              <div class="mb-3">
                <label for="exampleFormControlSelect1" class="form-label">Site</label>
                <select [(ngModel)]="registerDto.site" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                  <option selected value="">Selectionner Site</option>
                  <option *ngFor="let o of option " [value]="o">{{o}}</option>

                </select>
              </div>
              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary" (click)="modifier()">Modifier</button>
                </div>
              </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- / Content -->





</div>
