<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">


    <div class="row mb-5">

      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="assets/assets/img/VEHICULE2.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Gestion Véhicule</h5>

            <a routerLink="/home-contexte/gestion-vehicule" class="btn btn-outline-primary">Se diriger</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="assets/assets/img/marque2.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Gestion Marque</h5>

            <a routerLink="/home-contexte/gestion-marque" class="btn btn-outline-primary">Se diriger</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="assets/assets/img/version2.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Gestion Version</h5>

            <a routerLink="/home-contexte/gestion-version" class="btn btn-outline-primary">Se diriger</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="assets/assets/img/famille2.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Gestion Famille</h5>

            <a routerLink="/home-contexte/gestion-famille" class="btn btn-outline-primary">Se diriger</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
