
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Ajout utilisateur</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic Layout -->
      <div class="col-xxl">
        <div class="card mb-4">

          <div class="card-body">
            <form [formGroup]="registrationForm" (submit)="OnSubmit()">
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name" >Nom</label>
                <div class="col-sm-10">
                  <input [formControlName]="'nom'" type="text" class="form-control"  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">Prénom</label>
                <div class="col-sm-10">
                  <input [formControlName]="'prenom'"
                    type="text"
                    class="form-control"

                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <input [formControlName]="'email'"
                      type="text"
                      id="basic-default-email"
                      class="form-control"

                      aria-label="john.doe"
                      aria-describedby="basic-default-email2"
                    />

                  </div>
                  <span style="color: red;"  *ngIf="registrationForm.controls.email.hasError('pattern')" color="red" class="forgot" >
                    L'adresse email doit se terminer par @actia-engineering.tn
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-phone">Password</label>
                <div class="col-sm-10">
                  <input  [formControlName]="'password'"
                    type="password"
                    id="basic-default-phone"
                    class="form-control phone-mask"


                  />
                  <span style="color: red;" class="invalid-email" *ngIf="registrationForm.controls.password.hasError('pattern')" class="forgot" >
                    Mot de passe doit contenir une chiffre un majus et un minscule et un caractere speciale
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">Employe code</label>
                <div class="col-sm-10">
                  <input [formControlName]="'employeecode'"
                    type="text"
                    class="form-control"

                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">Responsable Equipe</label>
                <div class="col-sm-10">
                  <input [formControlName]="'responsableequipe'"
                    type="text"
                    class="form-control"

                  />
                </div>
              </div>
              <div class=" mb-3">

                <label class="form-label"  for="basic-default-company">role</label>
                  <select [formControlName]="'role'" id="role" class="form-select">
                    <option value="">Selectionner un role</option>
                    <option value="RC">RC</option>
                    <option value="RC+">RC+</option>
                    <option value="RS">RS</option>
                    <option value="RS+">RS+</option>
                    <option value="admin">Admin</option>
                  </select>

              </div>
              <div class="mb-3">
                <label for="exampleFormControlSelect1" class="form-label">Site</label>
                <select [formControlName]="'site'" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                  <option selected value="">Selectionner Site</option>
                  <option *ngFor="let o of option " [value]="o">{{o}}</option>

                </select>
              </div>
              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- / Content -->





</div>
