<div class="container-xxl flex-grow-1 container-p-y">
  <div class="fw-bold py-3 mb-4">
    <!-- Bordered Table -->
  <div class="card">
    <h5 class="card-header">Liste famille</h5>
    <button routerLink="/ajout-famille" class="btn btn-primary" type="button" id="button-addon2">Ajouter</button>
    <div class="card-body">
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nom famille</th>
              <th>Description</th>
              <th>Description Anglais</th>
              <th>Phrase</th>
              <th>Ordre</th>
              <th>Update</th>
              <th>guidedMethFilter</th>
              <th>sparePartsFilter</th>
              <th>idFamilleHynes</th>
              <th>descriptionHaynes</th>
              <th>Actions </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of famille ">
              <td>{{f.nomFamille}}</td>
              <td>{{f.description}}</td>
              <td>{{f.descrAnglais}}</td>
              <td>{{f.phrase}}</td>
              <td>{{f.ordre}}</td>
              <td>{{f.update}}</td>
              <td>{{f.guidedMethFilter}}</td>
              <td>{{f.sparePartsFilter}}</td>
              <td>{{f.idFamilleHynes}}</td>
              <td>{{f.descriptionHaynes}}</td>


          <td>
                <div class="dropdown">
                  <button class="btn btn-warning" [routerLink]="['/modifier-famille',f.idFamille]"><i class="bx bx-edit-alt me-1"></i> </button>
                  <button class="btn btn-danger"> <i class="bx bx-trash me-1"></i> </button>
                 </div>

              </td>
            </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/ Bordered Table -->
</div>
</div>
