<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">


    <div class="row mb-5">
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">

          <div class="card-body">
            <h5 class="card-title">Validation_MD</h5>
            <a href="http://mdtools-01.actia.local:8809/Validation_MD/login.xhtml?page=%2FValidation.xhtml" class="btn btn-outline-primary">Se diriger</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">

          <div class="card-body">
            <h5 class="card-title">cartographie_MD</h5>

            <a href="http://mdtools-01.actia.local:8809/cartographie_MD_S2/Explorateur.xhtml"class="btn btn-outline-primary">Se diriger</a>
          </div>
        </div>
      </div>
      </div>
      </div></div>
