<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Forgot Password -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">

              <div class="center">
                <img width="210" src="assets/assets/img/logo.png" alt="#" />
             </div>

          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Mot de passe oublié? 🔒</h4>
          <p class="mb-4">Entrer votre email et on va vous envoyer des instructions pour réinitialiser votre mot de passe.</p>
          <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                autofocus
              />
            </div>
            <button class="btn btn-primary d-grid w-100"> Envoye du Lien</button>
          </form>
          <div class="text-center">
            <a routerLink="/login" class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              Revenir au Login
            </a>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->
    </div>
  </div>
</div>
